body{
    margin: 0;
    padding: 0;
}


/* background-images */
.line-bg{
    background-image: url('../images/bg-linew.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}
.hero-bg{
    background-image: url('../images/hero-bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%, 4%;
    width: 90%;
}
.bg-blue{
    background-image: url('../images/bg-blue.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-us{
    background-image: url('../images/About-us.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.pricing-bg{
    background-image: url('../images/pricing-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* colors */
.light-white{
   background: #acabc1;
}

/* hover-effects */
.pricing-card:hover p{
    color: white !important;
}
.pricing-card:hover button{
    background: white;
    color: black !important;
}
.pricing-card:hover{
    transform: scale(1.1);
    transition: 500ms;
    cursor: pointer;
    fill: white !important;
}
.pricing-card:hover path{
    stroke: white !important;
}
.pricing-card .tag-bg{
    background: white;
}
.pricing-card:hover .tag-bg{
    background: blue;
}
.plan {
    display: none;
}
.button.active {
    border: 2px solid blue;
    background: transparent;
}
.holder{
    display: none;
}
.button2.active2 {
    border: 2px solid blue;
    background: transparent;
}
/* slider-controls */
.slick-slide {
    margin: 0px 30px !important;
}
.slick-prev{
    background: unset !important;
    border-radius: 50%;
    top: -25px !important;
    right: 65px !important;
    left: unset !important;
    background: #eaecff !important;
    width: 40px !important;
    height: 40px !important;
}
.slick-next{
    background: unset !important;
    top: -25px !important;
    right: 20px !important;
    border-radius: 50%;
    background: #eaecff !important;
    width: 40px !important;
    height: 40px !important;

}

.slick-next:before, .slick-prev:before {
    font-size: 20px !important;
    line-height: unset !important;
    opacity: .75;
    color: black !important;
}
.slick-next:hover{
    background: blue !important;
}
.slick-next:hover.slick-next:before{
    color: white !important;
}
.slick-prev:hover{
    background: blue !important;
}
.slick-prev:hover.slick-prev:before{
    color: white !important;
}
.slick-next:before{
    content: '>' !important;
}
.slick-prev:before{
    content: '<' !important;
}

button:hover{
    opacity: 0.8;
}

/* mobile-menu */
.overlay {
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    z-index: 1;
    background-color: #3182ce;
    overflow-x: hidden;
    transition: 0.5s;
}

.disply-none{
    display: none;
  }

  /* ============================ checkbox-css */
  .checkBoxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkBoxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 2px;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 20%;
    background-color: #c7c8cf;
  }
  
  /* On mouse-over, add a grey background color */
  .checkBoxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkBoxContainer input:checked ~ .checkmark {
    background-color: #ced3fa;
    border: 2px solid blue;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkBoxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkBoxContainer .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid blue;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* ============================= select-option-css */
  .select select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    background-image: none;
 }
 .select select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    /* content: '\2304'; */
    content: '⌵';
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 0 1em;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .plan2{
    display: none;
 }
.button3.checkActive::before{
    content: '✓';
    font-size: 14px;
    z-index: 10;
    font-weight: 600;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    width: 100%;
    color: blue;
    padding-left: 2px;
    background-color: #ced3fa;
    border-radius: 20%;
    border: 2px solid blue;
}
